/*
    | Google Fonts Import |
*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=PT+Sans&family=PT+Serif&display=swap');

/*
    | Google Fonts CSS rules |

    font-family: 'Archivo', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'PT Serif', serif;
*/

:root {
    --grey-1: #383838;
    --grey-2: #353535;
    --grey-3: #323232;
    --grey-4: #2C2C2C;
    --grey-5: #272727;
    --grey-6: #252525;
    --grey-7: #232323;
    --grey-8: #1F1F1F;
    --grey-bg: #121212;
    --white: #FFFFFF;
    --black: #000000;
    --primary: #69f0ae;
    --seconday: #ffa01c;
}

/*
    | Scrollbar |
*/

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #69f0ae #1F1F1F;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 25px;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 3px;
    border: 3px solid black;
}

/*
    | html |
*/
html {
    font-size: 14px;
    font-family: font-family: 'Archivo', sans-serif;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*
    | body |
*/
body {
    margin-bottom: 60px;
    font-family: 'Archivo', sans-serif;
}

/*
    | sidebar |
*/
.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid var(--grey-bg);
    padding-right: 5px;
}

.sidebar-logo .logo {
    text-align: center;
    padding: 20px 10px 10px 10px;
    margin: auto;
    display: block;
    height: 65px;
}

ul {
    list-style-type: none;
    color: #69f0ae;
    font-family: 'Archivo', sans-serif;
}

.nav-link {
    color: lightgrey;
    font-family: 'Archivo', sans-serif;
}

    .nav-link:hover {
        color: var(--primary) !important;
        font-family: 'Archivo', sans-serif;
    }


.active-link {
    
    color: var(--primary) !important;
    border: 2px solid #69f0ae;
    background-color: var(--grey-7);
    font-weight: 600;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
   
}

/*
    | content-container |
*/
.content-container {
    padding-top: 20px;
    padding-left: 220px;
}

/*
    | btn-cta |
*/
.btn-cta {
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: large;
    color: var(--primary);
    border: 2px solid var(--primary);
}

    .btn-cta:hover {
        font-family: 'Archivo', sans-serif;
        font-weight: bold;
        font-size: large;
        color: var(--grey-7);
        background-color: var(--primary);
        border-color: var(--grey-2);
        transition: background-color .7s, transform .7s;
    }

/*
    | Cards - Horizontal |
*/
.scroll-card {
    min-height: 49vh;
    max-height: 50vh;
    overflow-y: auto;
}

input[type=password] {
    opacity: 1;
    color: var(--seconday);
    background: transparent;
}

.counter {
    padding-right: 10px;
}

.hover-effect {
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
.hover-effect:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.045);
}


/*
    | Charts |
*/
.chart-canvas {
    width: 100%;
    height: 35vh;
    overflow: hidden;
}

/*
    | Badges |
*/
.badge {
    /*background-color: var(--primary);*/
    color: var(--primary);
    font: 600;
    font-family: 'Archivo', sans-serif;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid var(--primary);
}
.badge-circle-count {
    color: var(--white);
    font: 600;
    font-size: 60px;
    font-family: 'Archivo', sans-serif;
    text-align: center;
}

.sticky-top {
    background-color: #232323;
}