@page
@model TheInventory.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<!--Top Navbar-->
  <nav class="navbar navbar-expand-lg bg-light sticky-top rounded-3">
      <img class="rounded-lg-3" src="images/information.png" alt="information" width="32" style="margin:10px">
    <h4>@ViewData["Title"]</h4>
  </nav>

  <!--Features Section-->
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Features</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square flex-shrink-0 me-3">
          <img class="rounded-lg-3" src="images/pallet.png" alt="vehicle manufacturing" width="32">
        </div>
        <div>
          <h2>Manage Inventory</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square flex-shrink-0 me-3">
          <img class="rounded-lg-3" src="images/factory-machine.png" alt="vehicle manufacturing" width="32">
        </div>
        <div>
          <h2>Manufacture Parts</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square flex-shrink-0 me-3">
          <img class="rounded-lg-3" src="images/car-manufacturing.png" alt="vehicle manufacturing" width="32">
        </div>
        <div>
          <h2>Assemble Vehicles</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>
      </div>
    </div>

    <!--TODO: Add detailed project information section -->
  </div>
