@page
@model TheInventory.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<!--Top Navbar-->
  <nav class="navbar navbar-expand-lg bg-light sticky-top rounded-3">
      <img class="rounded-lg-3" src="images/information.png" alt="information" width="32" style="margin:10px">
    <h4>@ViewData["Title"]</h4>
  </nav>

  <!--Features Section-->
  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Features</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square flex-shrink-0 me-3">
          <img class="rounded-lg-3" src="images/pallet.png" alt="vehicle manufacturing" width="32">
        </div>
        <div>
          <h2>Manage Inventory</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square flex-shrink-0 me-3">
          <img class="rounded-lg-3" src="images/factory-machine.png" alt="vehicle manufacturing" width="32">
        </div>
        <div>
          <h2>Manufacture Parts</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square flex-shrink-0 me-3">
          <img class="rounded-lg-3" src="images/car-manufacturing.png" alt="vehicle manufacturing" width="32">
        </div>
        <div>
          <h2>Assemble Vehicles</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
        </div>
      </div>
    </div>
    <!--Features Section End-->
    <!--Team Section-->
    <h2 class="pb-2 border-bottom">Meet the Team</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      
        <div class="col d-flex align-items-start">
            <div class="card" >
                <img class="card-img-top  shadow-sm" src="./images/people/pexels-andrea-piacquadio-3846390.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Andre Richardo</h5>
                    <p class="card-text text-secondary" style="min-block-size: 70px">Andre is the Inventory Manager for ION. He oversees all of the inventory stock of materials and parts.</p>
                    </div>
                <div class="card-body">
                    <a href="mailto:someone@example.com" class="card-link text-decoration-none text-black">Email</a>
                    <a href="http://www.linkedin.com/" class="card-link text-decoration-none text-black">LinkedIn</a>
                    <!--Toast-->
                    <button type="button" class="btn text-decoration-none text-secondary float-end p-0 m-0" id="myBtnToast1">Show Secret</button>
                    <div class="toast toast1 mt-3">
                    <div class="toast-header">
                        Verification
                    </div>
                    <div class="toast-body">
                        <span>Code: '#$%!#0123'</span>
                    </div>
                    </div>
                    <!--Toast-->
                </div>
            </div>
        </div>


        <div class="col d-flex align-items-start">
            <div class="card">
            <img class="card-img-top shadow-sm" src="./images/people/pexels-thisisengineering-3862627.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Alexis Montblanc</h5>
                <p class="card-text text-secondary" style="min-block-size: 70px">Alex is the Production Manager for ION. She oversees all of the manufacturing and assembly of parts and vehicles. </p>
                </div>
            <div class="card-body">
                <a href="mailto:someone@example.com" class="card-link text-decoration-none text-black">Email</a>
                <a href="http://www.linkedin.com/" class="card-link text-decoration-none text-black">LinkedIn</a>
                <!--Toast-->
                    <button type="button" class="btn text-decoration-none text-secondary float-end p-0 m-0" id="myBtnToast2">Show Secret</button>
                    <div class="toast toast2 mt-3">
                    <div class="toast-header">
                        Verification
                    </div>
                    <div class="toast-body">
                        <span>Code: 'letmein5678'</span>
                    </div>
                    </div>
                    <!--Toast-->
            </div>
            </div>
        </div>

        <div class="col d-flex align-items-start">
            <div class="card">
            <img class="card-img-top shadow-sm" src="./images/people/pexels-christina-morillo-1181534.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Robyn Bird</h5>
                <p class="card-text text-secondary" style="min-block-size: 70px">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            <div class="card-body">
                <a href="mailto:someone@example.com" class="card-link text-decoration-none text-black">Email</a>
                <a href="http://www.linkedin.com/" class="card-link text-decoration-none text-black">LinkedIn</a>
                <!--Toast-->
                    <button type="button" class="btn text-decoration-none text-secondary float-end p-0 m-0" id="myBtnToast3">Show Secret</button>
                    <div class="toast toast3 mt-3">
                    <div class="toast-header">
                        Verification
                    </div>
                    <div class="toast-body">
                        <span>Code: '123456'</span>
                    </div>
                    </div>
                    <!--Toast-->
            </div>
            </div>
        </div>
    </div>
    <!--Team Section`End-->
    <!--Database Version / Connection Test-->
    <p style="color:lightgrey">MySql Server Version: @Model.Message</p>

    <!--TODO: Add detailed project information section -->
  </div>
