@page
@model TheInventory.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<!--Top Navbar-->
  <nav class="navbar navbar-expand-lg bg-light sticky-top rounded-3">
      <img class="rounded-lg-3" src="images/email.png" alt="Manufacturing" width="32" style="margin:10px">
    <h4>@ViewData["Title"]</h4>
  </nav>



<div class="container">
    <div class="row m-3">
        
         <form action="action_page.php">
            <label for="fname">Full Name</label>
            <input class="rounded-1" type="text" id="fullname" name="fullname" placeholder="Your name..">

            <label for="lname">Email</label>
            <input class="rounded-1" type="text" id="lname" name="lastname" placeholder="Your email..">
        
            <!--TODO: Add Email contact functionality-->
            <label for="reason">Reason</label>
            <select class="rounded-1" id="reason"  name="Reason">
                <option value="general">General Enquiry</option>
                <option value="parts">Parts</option>
                <option value="vehicle">New Vehicle</option>
                <option value="service">Book Service</option>
            </select>

            <label for="subject">Subject</label>
            <textarea class="rounded-1" id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            <button class="btn btn-cta" type="submit" value="Submit">Submit</button>

            @*<input class="btn" type="submit" value="Submit">*@
        </form>
 
    </div>
</div> 

