@page
@model TheInventory.Pages.GarageModel
@{
    ViewData["Title"] = "Garage";
}

<!--Top Navbar-->
  <nav class="navbar navbar-expand-lg bg-dark text-white sticky-top rounded-3">
    <h4>@ViewData["Title"]</h4>
  </nav>

<div class="container">
    <p>Test</p>
</div>
 