@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">The Inventory</h1>
    <p>The Inventory.</p>
</div>*@

<!--Hero Section-->
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h3 class="display-4 fw-bold lh-1">Welcome to The Inventory</h3>
        <p class="lead">Quickly View, Update, and Build electric vehicles and items with The Inventory Web App, the world’s most innovative inventory management system, featuring Inventory Management, Parts Manufacturing, Vehicle Assembly, and Garage Storage.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">

            <!--Page redirect-->
            <form method="post" asp-page="Index">
                <button type="submit" class="btn btn-cta">Manage Inventory</button>
            </form>
          
          
          <!--TODO: Redirect page on button click-->
          
          <!-- btn-lg px-4 me-md-2 fw-bold -->
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="images/tesla-header.jpg" alt="" width="720">
      </div>
    </div>
  </div>
  <!--Features Section-->
  <div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Features</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square flex-shrink-0 me-3">
          <img class="rounded-lg-3" src="images/pallet.png" alt="vehicle manufacturing" width="32">
        </div>
        <div>
          <h2>Manage Inventory</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
          
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square flex-shrink-0 me-3">
          <img class="rounded-lg-3" src="images/factory-machine.png" alt="vehicle manufacturing" width="32">
        </div>
        <div>
          <h2>Manufacture Parts</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
          
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square flex-shrink-0 me-3">
          <img class="rounded-lg-3" src="images/car-manufacturing.png" alt="vehicle manufacturing" width="32">
        </div>
        <div>
          <h2>Assemble Vehicles</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
          
        </div>
      </div>
    </div>
  </div>
