@page
@model TheInventory.Pages.ManufacturingModel
@{
    ViewData["Title"] = "Manufacturing";
}

<!--Top Navbar-->
  <nav class="navbar navbar-expand-lg bg-light sticky-top rounded-3">
      <img class="rounded-lg-3" src="images/factory-machine.png" alt="Manufacturing" width="32" style="margin:10px">
    <h4>@ViewData["Title"]</h4>
  </nav>

<!--TODO: 
    1. Add Raw Materials list section here.
    2. Add Vehicle Parts (Build/Recipe) list section here.
-->

<!--Manufacturing Container-->
<div class="container-fluid">
    <!--Alert Functionality-->
    <div class="alert alert-success text-success text-center" role="alert">Vehicle part has been crafted!</div>
    <div class="row mt-1">
        <div class="col-xl col-md-12 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center">
                    Materials
                </div>
                <div class="card-body">      
                </div>  
            </div>
        </div>
    </div>

    <div class="row">    
        <div class="col-xl col-md-12 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center">
                    Craftable Parts
                </div>
                <div class="card-body">     
                </div>   
            </div>
        </div>
    </div>
</div>
