@page
@model TheInventory.Pages.ManufacturingModel
@{
    ViewData["Title"] = "Manufacturing";
}

<!--Top Navbar-->
  <nav class="navbar navbar-expand-lg bg-light sticky-top rounded-3">
      <img class="rounded-lg-3" src="images/factory-machine.png" alt="Manufacturing" width="32" style="margin:10px">
    <h4>@ViewData["Title"]</h4>
  </nav>
