@page
@model TheInventory.Pages.ManufacturingModel
@{
    ViewData["Title"] = "Manufacturing";
}

<!--Top Navbar-->
  <nav class="navbar navbar-expand-lg bg-light sticky-top rounded-3">
      <img class="rounded-lg-3" src="images/factory-machine.png" alt="Manufacturing" width="32" style="margin:10px">
    <h4>@ViewData["Title"]</h4>
  </nav>

<!--TODO: 
    1. Add Raw Materials list section here.
    2. Add Vehicle Parts (Build/Recipe) list section here.
-->

<!--Manufacturing Container-->
<div class="container-fluid">
    <!--Alert Functionality-->
    <div class="alert alert-success text-success text-center" role="alert">Vehicle part has been crafted!</div>
    <div class="row mt-1">
        <div class="col-xl col-md-12 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center">
                    Materials
                </div>
                <div class="card-body">  

                    <div class="card mb-2 shadow-sm hover-effect">
                        <div class="row g-0">
                            <div class="col-md-2 align-self-center bg-light">
                                <img src="./images/raw-materials.png" class="img-fluid rounded-start" alt="..." width="50" style="margin:10px">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Steel Bar</h5>
                                    <p class="card-text">Raw Materials</p>
                                </div>
                            </div>
                            <div class="col-md-2 align-self-center counter">
                                <div class="">
                                    <h3>200</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="row">    
        <div class="col-xl col-md-12 pb-3">
            <div class="card rounded-3 shadow-lg">
                <div class="card-header text-center">
                    Craftable Parts
                </div>
                <div class="card-body">     
                </div>   
            </div>
        </div>
    </div>
</div>
