<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheInventory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheInventory.styles.css" asp-append-version="true" />
    <!--FontAwesome Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=PT+Sans&family=PT+Serif&display=swap" rel="stylesheet">
    
</head>
<body>
    <!--Sidebar Container-->
    <div class ="sidebar-container">
        <div class="sidebar-logo">
            <img class="logo" src="./images/logo.png"/>
        </div>
        <h4 class="pb-2 border-bottom text-center text-dark">The Inventory</h4>
        <ul class="sidebar-navigation">
            <li>
                <a class="nav-link" asp-area="" asp-page="/Index"><i class="fa fa-home" aria-hidden="true" style="padding-right:10px"></i>Home</a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-page="/Inventory"><i class="fa fa-cubes" aria-hidden="true" style="padding-right:10px"></i>Inventory</a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-page="/Manufacturing"><i class="fa fa-industry" aria-hidden="true" style="padding-right:10px"></i>Manufacturing</a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-page="/Assembly"><i class="fa fa-wrench" aria-hidden="true" style="padding-right:10px"></i>Assembly</a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-page="/Garage"><i class="fa fa-car" aria-hidden="true" style="padding-right:10px"></i>Garage</a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-page="/About"><i class="fa fa-info-circle" aria-hidden="true" style="padding-right:10px"></i>About</a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-page="/Privacy"><i class="fa fa-user-secret" aria-hidden="true" style="padding-right:10px"></i>Privacy</a>
            </li>
            <!--Chart JS Example (Testing)-->
            <li>
                <a class="nav-link" asp-area="" asp-page="/Chart"><i class="fa fa-pie-chart" aria-hidden="true" style="padding-right:10px"></i>Chart</a>
            </li>
        </ul>
    </div>
    <!--Sidebar Container-->

    <!--Content Container-->
    <div class="content-container">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <!--Content Container-->
    @*<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>*@
    <!--Footer-->
    <footer class="footer text-muted text-center">
        <div class="container">
            &copy; 2022 - TheInventory - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <!--Footer-->

    <!--Scripts-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>